In [7]:
import pandas as pd
import numpy as np

# load data
income = pd.read_csv("aggregatehouseholdincome.csv", index_col="Id") # use the column named _id as the row index

income.sort_values(by="Estimate; Aggregate household income in the past 12 months (in 2015 Inflation-adjusted dollars)")

,Neighborhood,Estimate; Aggregate household income in the past 12 months (in 2015 Inflation-adjusted dollars),Margin of Error; Aggregate household income in the past 12 months (in 2015 Inflation-adjusted dollars)
Id,,,
72,South Shore,-,**
22,Chateau,-,**
70,Sheraden,101081700,11670388.95
62,Perry North,104107900,12948264.12
7,Bedford Dwellings,10529100,1666825
...,...,...,...
47,Lincoln-Lemington-Belmar,91032900,15513365.3
25,Duquesne Heights,91613300,18318437.52
81,Strip District,91738300,37240188
90,Westwood,91857100,11304497.08
19,Central Northside,96353500,14187902.91